services:
  chat:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: rebelist-revelations-chat
    profiles: [ "prod" ]
    restart: no
    env_file:
      - .env
    networks:
      - revelations
    volumes:
      - ./docker/chat/models:${RAG_RANKER_MODEL_PATH}

  mongo:
    image: mongo:8.0.15
    container_name: rebelist-revelations-mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    ports:
      - "27017:27017"
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 10s
    profiles: [ ]
    networks:
      - revelations
    volumes:
      - mongo_data:/data/db
      - ./docker/mongo/mongod.conf:/etc/mongod.conf:ro
      - ./docker/mongo/mongosh.conf:/etc/mongosh.conf:ro

  qdrant:
    image: qdrant/qdrant:v1.15.5
    restart: always
    container_name: rebelist-revelations-qdrant
    ports:
      - 6333:6333
    expose:
      - 6333
    networks:
      - revelations
    volumes:
      - qdrant_data:/qdrant/storage
      - ./docker/qdrant/production.yaml:/qdrant/config/production.yaml:ro

  ollama:
    image: ollama/ollama:0.12.9
    container_name: rebelist-revelations-ollama
    profiles: [ "prod" ]
    ports:
      - "11434:11434"
    restart: unless-stopped
    environment:
      OLLAMA_MODELS: /root/.ollama
    env_file:
      - .env
    networks:
      - revelations
    volumes:
      - ollama_data:/root/.ollama

volumes:
  mongo_data:
  qdrant_data:
  ollama_data:

networks:
  revelations:
    driver: bridge